.resume {
  background: #272727;
  color: #fff;

  .column {
    background-color: #19211e;
    box-shadow: 5px 5px 10px #10100e, -5px -5px 10px #272723;
  }

  .title-small {
    color: coral;
  }

  h6 {
    color: coral;
  }

  i {
    color: coral;
    margin-right: 1rem;
  }
}
