.resume {
  background: #272727;
  color: #fff;

  .column {
    background-color: #19211e;
    box-shadow: 5px 5px 32px #101413, -5px -5px 32px #232e29;
  }

  .title-small {
    color: coral;
  }

  h6 {
    color: coral;
  }

  i {
    color: coral;
    margin-right: 1rem;
  }
}
