.contact {
  background: #272727;
  color: #fff;

  .title {
    color: coral;
  }

  .contact__home {
    background: #1a1a1a;
    box-shadow: 5px 5px 10px #10100e, -5px -5px 10px #272723;

    i {
      color: coral;
      font-size: 3rem;
    }
  }
}
